.vscode

# MacOS Files that might appear in the root of a volume
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db